/* style layer 2 rules */
/* Author: Jesse Stokes */
/* Date: 9.17.2017 */

	* {
		margin: 0;
		padding: 0;
	}
	
	body {
		font-size: 1.1em;
		font-family: Arial, Helvetica, sans-serif;
		background-color: black;
	}
		
	#container {
		width: 90%;
		margin: 0 auto;
		background-color: gray;
	}
		
	header {
		padding: 2%;
		letter-spacing: 2em;
		background-color: gray;
		text-align: center;
		text-transform: uppercase;
	}
	
	nav {
		padding: 2%;
		background-color: black;
		text-align: center;
	}

	nav ul li {
		display: inline;
		list-style-type: none;
	}

	nav a {
		padding: 0.25em;
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	nav a:hover {
		color: black;
		background-color: white;
	}
	
	aside {
		float:left;
		padding: 40px;
		color: gray;
		background-color: black;
		text-align: center;
		margin-top: 50px;
	}
	
	aside h2 {
		color: white;
	}
	
	aside p a {
		color: gray;
		text-decoration: none;
	}
	
	aside p a:hover {
		color: black;
		background-color: white;
	}
	
	form {
		margin: 1em;
		border: solid 2px gray;
		padding: 2em;
		font-size: 16px;
		color: gray;
	}
	
	#formcontainer {
		width: 47%;
		color: gray;
		display: block;
		padding: 20px;
		float: left;
	}
	
	#sitemap {
		width: 40%;
		color: gray;
		display: block;
		padding: 20px;
		float: left;
		margin-left: 50px;
	}
	
	#sitemap a {
		color: gray;
	}
	
	#sitemap a:hover {
		color: black;
		background-color: white;
	}
	
	#message {
		margin: 5px;
	}
	
	fieldset {
		margin: 0 0 0 0px;
	}
	
	label {
		padding: 5px;
	}
	
	
	#main {
		float: right;
		background-color: black;
	}
	
	input {
		margin: 5px;
	}
	
	input.button {
			color: black;
			text-transform: uppercase;
			font-weight: bold;
			padding: 4px;
			background-color: gray;
			display: inline;
	}
	
	footer {
		clear: both;
		color: gray;
		background-color: black;
		text-align: center;
	}
	
	footer p a {
		text-decoration: none;
		font-weight: bold;
		color: white;
	}
	
	footer a {
		color: gray;
	}
	
	footer p a:hover {
		color: black;
		background-color: white;
	}